@font-face {
  font-family: "arturito-slab";
  src: url('/fonts/arturito-slab.ttf');
}

* {
  font-family: "arturito-slab";
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
	height: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%
}

.main {
  flex: 1 0 auto;
  display: flex;
  padding: 0px 10px
}

.footer {
  flex-grow: 0;
}

.box .navbar-light .navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg);;
}


