.toast__container {
    z-index: 10;
    position: fixed;
    bottom: 10px;
    right: 10px
}

@media  screen and (max-width:767px){
    .toast__container {
        z-index: 10;
        position: fixed;
        bottom: 2px;
        right: 0px
    }
}