.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fff;
  padding: 32px 78px;
  display: none;
  z-index: 3;
  overflow-y: auto;
  animation-name: opacity_from;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.popup_is-opened {
  display: block;
}

.close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
}

.close-icon {
  width: 16px;
  height: 25px;
  transition: opacity 0.3s ease-in-out;
}

.close-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}


@keyframes opacity_from {
  0% {
    opacity: 0;
    margin-top: -200px
  }

  100% {
    opacity: 1;
    margin-top: 0px
  }
}

@media (width <=650px) {
  .popup {
    width: 90%;
    padding: 32px 24px;
    height: 90%;
    margin: 10px 0px;
  }
}