.hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;

    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
}